.home-page {
    width: 100%;
    height: 100%;
    overflow-y: auto;
    .feature-list {
        width: 100%;
        display: flex;
        padding: 12px 8px;
        .feature-item {
            width: 24%;
            height: 86px;
            background: #fff;
            border-radius: 6px;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 32px;
            line-height: 32px;
        }
    }
}
