.layout-page{
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: #f4f4f4;
    display: flex;
    flex-direction: column;
    .layout-page-body{
        width: 100%;
        flex: 1;
        overflow: hidden;
    }
    .layout-page-footer{
        width: 100%;
        background: #fff;
    }
}