.app-page {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.scan-body {
  width: 300px;
  height: 300px;
  border: 1px solid #000;
  text-align: center;
}

.scan-area {
  width: 100%;
  padding-top: 10px;
}